<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [1]:
#comparison dari tipe data string
'benar' == 'Benar'

False

In [2]:
#comparison dari tipe data boolean
'True' != 'False'

True

In [3]:
#comparison dari tipe data integer
2 > 10

False



---



---

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [4]:
#Boolean Comparison 'and'
3 < 10 and 5 > 3

True

In [5]:
#Boolean Comparison 'or'
'suka' != 'Suka' or 'Sama' != 'sama'

True

In [8]:
#Boolean Comparison ' not'
not (3 < 4)

False



---



---

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'High' jika grade adalah 'A' dan price lebih dari 100000, kemudian mem-print 'Medium' jika grade adalah 'A' dan price lebih dari 50000 dan memprint 'low' jika grade adalah 'A' dan price lebih kecil dan sama dengan 50000.

In [12]:
#code here
nilai = 50001           #untuk nilai ('A') dapat diganti sesuai dengan kondisi
if nilai > 100000:
    print ('High')    
elif nilai > 50000:
    print ('Medium')
else:
    print ('low')

Medium



---



---

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [49]:
# Buat fungsi
data = 4                                          #nilai data dapat diubah
if data % 2 == 0 and data in range (2,5):         #data genap diantara 2 sampai 5
    print ('Tidak Aneh')
elif data % 2 == 0 and data in range (6,20):      #data genap diantara 6 sampai 20
    print ('Aneh')
elif data % 2 == 0 and data >20:                  #data genap lebih dari 20
    print ('Tidak Aneh')
else:
    print ('Aneh')                                #data ganjil

Tidak Aneh



---



---

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

jawaban perbedaan
While loop merupakan perulangan yang jumlah proses pengulangannya tidak ditentukan. Kode yang dijalankan dakan berjalan secara terus menerus apabila masih memenuhi ekspresi yang telah ditentukan sebelumnya.

For loop merupakanperulangan untuk memproses array/himpunan. Perulangan for akan dijalankan sebanyak jumlah elemen yang ada di dalam variabel.

In [21]:
# jawaban contoh
#while loop
x = 1
while x < 5:
    print (x)
    x += 1

1
2
3
4

In [23]:
#for loop
bola = ['basket', 'tenis', 'golf', 'pingpong']
for i in bola:
    print (i)

basket
tenis
golf
pingpong



---



---

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang menerima satu input nilai numerik
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [79]:
a = 10                      #nilai a dapat diubah

def fungsi_while(a):
    while a != 0:
        print (a)
        a += -1
    
print('jika a= ' + str (a))

fungsi_while (a)

jika a= 10
10
9
8
7
6
5
4
3
2
1

Expected Output:

jika a = 10                           

10                                   
9                      
8   
7   
6  
5  
4  
3  
2  
1

jika a = -10

-10                                   
-9                        
-8  
-7  
-6  
-5  
-4  
-3  
-2  
-1



---



---

<h2>Soal 7: For Loop</h2>

Lengkapi kode untuk menghasilkan suatu output yang diharapkan:





*   Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [163]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

#code here
nilai_terbaik=[]
for k in data_siswa:
    if k['nilai'] >= 80:
        nilai_terbaik.append(k['nama'])
print (nilai_terbaik)

['Budi', 'Rudi', 'Leo']

Expected output:

['Budi', 'Rudi', 'Leo']



---



---

<h2>Soal 8: For Loop Enumerate</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [11]:
obj_list= [1, 16, 11, 10, 5]

# lengkapi code di bawah
for index, obj_list1 in enumerate(obj_list):
    print(obj_list1 * index)

0
16
22
30
20

Expected Output:

0

16

22

30

20



---



---